.page#page-beta {
  h2 {
    font-size: 2em;
  }

  h3 {
    margin: 24px 0 12px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: bold;
  }

  ul {
    list-style-type: circle;
  }

  ul.nobullet {
    padding: 0;

    & li {
      list-style-type: none;
    }
  }
}
