.page em {
  font-style: oblique;
}

.page strong {
  font-weight: bold;
  color: #444;
}

.page a {
  color: #222;
  text-decoration: underline;
  text-decoration-color: #999;
}

.page a:hover {
  color: #555;
}

.page ul, .page ol {
  margin: 10px 0;
  padding-left: 40px;
}

.page p {
  padding: 5px 0;
}

.page .download-extension-button:hover {
  opacity: 0.8;
}
