@import "../variables.scss";

.page#page-usage {

  .image-container {
    margin-bottom: 10px;

    @media screen and (min-width: $break-medium) {
      float: right;
      margin-left: 30px;
      max-width: 340px;
    }
  }
}
