@import "../variables.scss";

.page#page-usage {
  line-height: 1.5;

  .separator {
    border-top: 1px solid #CCC;
    margin: 0 15%;
  }

  .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 80px 50px;

    .item-text {
      padding: 0 50px;
    }

    .quick-reaction {
      display: flex;
      flex-direction: row;
      font-size: 20px;
      margin: 10px 0;

      .quick-reaction-text {
        padding-left: 15px;

        strong {
          color: #666;
        }
      }
    }
  }

}
