@page {
  margin: 10mm;
  margin-bottom: 0;
}

body {
  font-family: Montserrat, sans-serif;
  color: #333;
}

p {
  font-size: 14px;
  line-height: 22px;
}

h1 {
  margin: 0;
  font-family: "Noticia Text";
  font-weight: bold;
  color: #446;
  font-size: 22px;
  line-height: 22px;
}

a {
  color: #33C;
  text-decoration: none;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 32px;

  h1 {
    flex: 1;
  }

  img.logo {
    width: 30px;
    margin-right: 12px;
  }

  .title-container {
    position: relative;

    .title {
      font-size: 20px;
      line-height: 1;
      font-weight: bold;
      font-family: "Noticia Text", serif;
      color: #446;
    }
  }

  .subtitle-container {
    margin-left: 28px;
    font-size: 13px;
    color: #666;
    text-align: right;
  }
}
