.signin {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signin a {
  text-decoration: none;
}

.signin a:focus {
  box-shadow: none;
}

.signin .btn {
  width: 220px;
}

.signin .signin-signup {
  margin: 50px 0;
}

.signin form {
  width: 340px;
}

.accept-conditions {
  margin: 25px 0;
}

.conditions-warning {
  font-size: 0.8em;
  margin-top: 15px;
}
