.header {
  padding: 15px 10%;
  background-color: #20202A;
  color: #EEEEEE;
}

.header a {
  color: inherit;
}

.header-left {
  display: inline;
}

.header-right {
  display: inline;
  float: right;
}

.header-item {
  display: inline-block;
  margin: 0 15px;
}

.header .active {
  font-weight: bold;
}
