@import "variables.scss";

@font-face {
  font-family: 'Nunito Sans';
  src: url('/assets/fonts/NunitoSans/NunitoSans-Regular.ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('/assets/fonts/NunitoSans/NunitoSans-Bold.ttf');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'Domine';
  src: url('/assets/fonts/Domine/Domine-Regular.ttf');
  font-style: normal;
  font-weight: bold;
}

body {
  font-size: 16px;
  line-height: 22px;
  font-family: 'Nunito Sans';
  color: #444;

  @media screen and (min-width: $break-medium) {
    font-size: 18px;
    line-height: 24px;
  }

  @media screen and (min-width: $break-large) {
    font-size: 18px;
    line-height: 24px;
  }

  @media screen and (min-width: $break-desktop) {
    font-size: 18px;
    line-height: 24px;
  }

  em {
    font-style: oblique;
  }

  strong {
    font-weight: bold;
  }

  a {
    color: inherit;
  }

  p {
    margin: 10px 0;
  }

  ul {
    margin: 10px 0;
    padding-left: 40px;
    list-style-type: initial;
  }

  h2 {
    font-size: 24px;
    font-family: 'Domine';
    margin: 40px 20px 20px;

    @media screen and (min-width: $break-medium) {
      margin: 50px 20px 20px;
      font-size: 28px;
    }
  }

  h3 {
    font-size: 24px;
    line-height: 24px;
    margin: 25px;
    margin-top: 45px;
    margin-bottom: 15px;
  }

  .hide {
    display: none;
  }

  .note {
    border-left: 5px solid #CCC;
    margin: 10px 0;
    padding-left: 10px;
  }

  .wording {
    background: #FFE;
  }

  .page {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;

    @media screen and (min-width: $break-small) {
      padding: 20px;
    }

    @media screen and (min-width: $break-medium) {
      padding: 30px;
      padding-top: 20px;
    }

    @media screen and (min-width: $break-large) {
      padding: 0 10%;
      padding-top: 30px;
    }

    .page-content {
      display: flex;
      flex-direction: column;

      @media screen and (min-width: $break-desktop) {
        flex-direction: row;
        border-top: 1px solid #CCC;

        nav {
          flex: 1;
        }

        main {
          flex: 4;
          padding: 10px;
        }
      }
    }
  }
}
