.reaction-wrapper {
  margin-bottom: 10px;
}

.reaction-wrapper:last-child {
  margin-bottom: 0;
}

.reaction-wrapper .reaction-replies {
  margin-top: 10px;
  display: flex;
}

.reaction-replies-indent {
  width: 8px;
  background-color: #CCC;
  margin-right: 8px;
}

.reaction-replies-content {
  flex: 1;
}
