@import "../../variables.scss";

.download-extensions-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  &.disposition-column {
    flex-direction: column;
  }

  &.disposition-row {
    flex-direction: row;

    @media screen and (max-width: $break-small) {
      flex-direction: column;
    }
  }

  a.download-extension {
    margin: 10px 0;
    &:hover {
      opacity: 0.85;
    }
  }
}
