@import "../../variables.scss";

.download-extensions-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px;

  &.disposition-column {
    flex-direction: column;
  }

  &.disposition-row {
    flex-direction: row;
  }

  a.download-extension {
    margin: 10px 0;
    &:hover {
      opacity: 0.85;
    }
  }
}
