:focus {
  outline: none;
}

::-moz-focus-inner {
  border:0;
}

#zc-iframe {
  margin-bottom: 15px;
}

.zc-tabs {
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin: 20px 0;
  text-align : center;
  font-family: "Montserrat", sans-serif;
}

.zc-tabs button {
  margin: 0 10px;
  padding: 5px;

  outline: none;
  font-size: 18px;
  font-weight: 600;
  background: transparent;

  border: 0;
  border-bottom-style: solid;
  border-bottom-width: 2px;

  transition-property: border-color, color;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;

  color: #667;
  border-bottom-color: transparent;
  cursor: pointer;
  font-family: inherit;
}

.zc-tabs.dark button {
  color: #99A;
}

.zc-tabs button.active {
  color: #334;
  border-bottom-color: #CCC;
  cursor: initial;
}

.zc-tabs.dark button.active {
  color: #CCD;
}

@media screen and (max-width: 700px) {
  .zc-tabs {
    flex-direction: column;
    margin-left: 20px;
  }

  .zc-tabs button {
    margin: 0;
    padding: 5px 0;
    text-align: left;
    border-bottom-width: 0;
  }
}
