.reaction {
  border: 1px solid #ccc;
  border-radius: 2px;
}

.reaction-header {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #eee;
  background-color: #f9f9f9;
}

.reaction-author-avatar {
  width: 32px;
  height: 32px;
  padding: 6px;
  display: inline-block;
}

.reaction-author-avatar img {
  width: inherit;
  height: inherit;
  border: 1px solid #999;
  border-radius: 16px;
}

.reaction-author-nick {
  display: inline-block;
  margin-left: 8px;
}

.reaction-edit {
  display: inline-block;
  font-size: 12px;
  margin-left: 5px;
  color: #666;
  cursor: pointer;
}

.reaction-header-top-right-wrapper {
  position: absolute;
  right: 5px;
  top: 0;
  display: flex;
  flex-direction: row;
}

.report {
  font-size: 12px;
  color: #933;
  display: none;
  margin-right: 15px;
  cursor: pointer;
}

.reaction-header-top-right-wrapper:hover .report {
  display: block;
}

.reaction-date {
  font-size: 12px;
  color: #999;
}

.reaction-date.reaction-date-edited {
  font-style: oblique;
  cursor: pointer;
}

.toggle-expand {
  position: absolute;
  bottom: 0;
  right: 5px;
  color: #666;
  font-size: 10px;
  cursor: pointer;
}

.reaction-body {
  position: relative;
  overflow: hidden;
}

.reaction-body.expand-type--default {
  max-height: 240px;
}

.reaction-body.expand-type--fold {
  max-height: 60px;
}

.reaction-body.expand-type--default.has-quote {
  max-height: 280px;
}

.reaction-body.can-expand .show-more {
  width: 100%;
  height: 8px;
  position: absolute;
  bottom: 0;
  background: linear-gradient(#ffffff00, #999999ff);
  cursor: pointer;
}

.reaction-quote {
  background-image: url('/assets/images/quotation-mark.png');
  background-repeat: no-repeat;
  margin: 15px 15px 0 15px;
  font-weight: bold;
  font-size: 1.1em;
  text-indent: 30px;
  color: #666;
  background-position: top 0 left 30px;
  min-height: 50px;
}

.reaction-text {
  padding: 5px 10px;
  font-size: 15px;
  line-height: 20px;
}

.reaction-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-top: 1px solid #eee;
}

.quick-reactions {
  display: flex;
  flex-direction: row;
}

.quick-reaction {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 16px;
  border-right: 1px solid #eee;
}

.quick-reaction.can-quick-reaction {
  cursor: pointer;
}

.quick-reaction.did-quick-reaction {
  background-color: #eee;
  color: #33c;
}

.quick-reaction img {
  width: 22px;
  height: 22px;
}

.quick-reaction .quick-reaction-count {
  font-size: 14px;
  color: #555;
  font-weight: bold;
}

.show-replies {
  padding-left: 10px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: #666;
}

.show-replies.can-toggle-replies {
  cursor: pointer;
}

.reaction-footer-filler {
  flex: 1;
}

.reply-button {
  padding: 0 16px;
  border: none;
  background-color: initial;
  color: #555;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  outline: none;
  /*border-left: 1px solid #eee;*/
}

.reply-button.disabled {
  color: #999;
  cursor: initial;
}

.history-message-date-wrapper {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.history-message-date-filler-left {
  width: 20px;
  border-top: 2px solid #CCC;
}

.history-message-date-filler {
  flex: 1;
  border-top: 2px solid #CCC;
}

.history-message-date {
  margin: 0 10px;
  color: #666;
  font-size: 14px;
}

.history-current-message .history-message-date {
  font-weight: bold;
  font-size: initial;
}

.history-message-text {
  margin-top: 20px;
  margin-bottom: 40px;
}

.reaction-report-modal-portal .ReactModal__Content {
  min-width: 380px;
  max-width: 780px;
  left: 50% !important;
  transform: translateX(-50%);
  bottom: auto !important;
}

.reaction-report-modal h2 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  color: #933;
}

.reaction-report-warning {
  margin: 30px 0;
  padding: 15px;
  background-color: #FFFFCC;
  border: 1px solid #CCCC33;
}

.reaction-report-modal .reaction-body {
  border: 1px solid #CCC;
  border-radius: 2px;
}

.reaction-report-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reaction-report-form select.report-type {
  margin: 30px 0;
  width: 100%;
  background: none;
  border: 1px solid #CCC;
  border-radius: 2px;
  padding: 5px;
  box-sizing: border-box;
}

.reaction-report-form textarea.report-message {
  margin-bottom: 30px;
  width: 100%;
  border: 1px solid #CCC;
  border-radius: 2px;
  padding: 5px;
  box-sizing: border-box;
}

.reaction-report-form button.report-button {
  width: 180px;
  background: none;
  border: 1px solid #CCC;
  border-radius: 2px;
  padding: 5px 0;
}

.reaction-report-form button.report-button:hover {
  border-color: #FF9999;
  cursor: pointer;
}
