#app, .ReactModalPortal {
  font-family: 'Nunito Sans';
  font-size: 16px;
  line-height: 22px;
}

#app {
  height: 100%;
}

ul {
  list-style-type: initial;
}

ol {
  list-style-type: decimal;
}

em {
  font-style: oblique;
}

a {
  text-decoration: none;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

.markdown-github .highlighted {
  background-color: #ffc10766;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  background-color: rgba(0, 0, 0, 0.4) !important;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}

.ReactCollapse--collapse {
  transition: height 140ms ease-in-out;
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border:0;
}
