body {
  width: 380px;
  height: 280px;
  margin: auto;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

.popup {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.popup-title {
  text-align: center;
  border-bottom: 2px solid #ccc;
}

.popup-title h1 {
  margin: 10px;
  font-size: 2em;
  font-weight: bold;
}

.popup-subtitle {
  color: #666;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex: 1;
}

.form-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-input:first {
  margin-bottom: 10px;
}

.form-group {
  width: 100%;
}

.form-input input {
  border-radius: 2px;
  border: 1px solid #ccc;
  padding: 10px 5px;
  margin: 0 20px;
  display: block;
}

.form-input input.error {
  border-color: #f00;
}

.form-input label {
  display: block;
  margin: 0 25px 2px 25px;
  font-size: 12px;
}

.submit-button {
  border-radius: 2px;
  border: 1px solid #ccc;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 240px;
}

.submit-button.loading {
  color: #666;
  cursor: initial;
}

.error-message {
  padding: 2px 20px;
  padding-top: 10px;
  font-size: 12px;
  text-align: right;
  color: #e24;
  min-height: 14px;
}

#error-global {
  text-align: center;
}

.hidden {
  display: none;
}

.loader-wrapper {
  width: 0;
  height: 18px;
}

#loader {
  margin-left: 10px;
}