<!DOCTYPE html>
<html>
  <head>

    <% if (ENABLE_TRACKING === 'true') { %>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','<%= GTM_CONTAINER_ID %>');</script>
    <% } %>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base target="_blank">

    <!-- TODO: import from npmjs -->
    <link href="https://fonts.googleapis.com/css2?family=Noticia+Text:wght@700&display=swap" rel="stylesheet">

    <title>Zétécom</title>

  </head>
  <body>

    <% if (ENABLE_TRACKING === 'true') { %>
    <style type="text/css">#gtm-iframe { display: none; visibility: hidden; }</style>
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KM3DQMX" height="0" width="0" id="gtm-iframe" />
    </noscript>
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= GA_ID %>"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '<%= GA_ID %>');
    </script>
    <% } %>

    <div id="app"></div>

  </body>
</html>
