@import '../../variables.scss';

.page#page-rules {
  h2 {
    margin-top: 30px;
    margin-bottom: 45px;
  }

  .changes {
    margin-bottom: 45px;

    hr {
      border: 0;
      border-top: 1px solid #ccc;
      margin: 15px 0;
    }
  }

  h4.rule-title {
    font-size: 20px;
    margin: 25px 0 0 15px;
  }

  .rule-description {
    line-height: 1.8;
  }

  .examples {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $break-medium) {
      flex-direction: row;
    }

    .example {
      flex: 1;
      padding: 10px;

      @media screen and (min-width: $break-medium) {
        padding: 20px;
      }

      .example-text {
        font-size: 18px;
        margin-bottom: 15px;

        @media screen and (min-width: $break-medium) {
          font-size: 20px;
        }
      }
    }
  }
}
