#app, .ReactModalPortal {
  font-family: 'Nunito Sans';
  font-size: 18px;
  line-height: 22px;
}

#app {
  min-height: 100%;
}

button {
  font-family: 'Nunito Sans';
  font-weight: bold;
}

ul {
  list-style-type: initial;
}

ol {
  list-style-type: decimal;
}

em {
  font-style: oblique;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  background-color: rgba(0, 0, 0, 0.4) !important;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}

.page {
  max-width: 640px;
  box-sizing: border-box;
}

@media only screen and (min-width: 1000px) {
  .page {
    max-width: 940px;
  }
}

@media only screen and (min-width: 1400px) {
  .page {
    max-width: 1300px;
  }
}
