#app {
  font-family: sans-serif;
  /* background-color: #363636; */
  min-height: 100%;
}

ul {
  list-style-type: initial;
}

ol {
  list-style-type: decimal;
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}