@font-face {
  font-family: 'Nunito Sans';
  src: url('/assets/fonts/Nunito_Sans/NunitoSans-Regular.ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('/assets/fonts/Nunito_Sans/NunitoSans-bold.ttf');
  font-style: normal;
  font-weight: bold;
}
