.label-border--SOURCE {
  border-color: #80dd6c !important;
}

.label-border--METHOD {
  border-color: #6cddd7 !important;
}

.label-border--BIAIS {
  border-color: #e87266 !important;
}

.label-border--QUESTION {
  border-color: #ea9ae7 !important;
}

.label-border--OPINION {
  border-color: #ff993f !important;
}

.label-border--FUN {
  border-color: #CCCCCC !important;
}
