@import "../variables.scss";

.carousel {
  white-space: nowrap;
  position: relative;
  overflow-x: hidden;
  position: relative;
  background: linear-gradient(#FFF 0%, #EEE 20%, #EEE 97%, #DDD 100%);
  display: flex;
  flex-direction: row;

  .prev-slide, .next-slide {
    display: none;

    @media screen and (min-width: $break-medium) {
      display: block;
      width: 80px;
      color: #999;
      cursor: pointer;
      z-index: 1;
      transition: color 400ms;
      &:hover {
        color: #446;
      }
    }
  }

  .slides-container {
    flex: 1;
  }

  .slider {
    height: 100%;
    position: absolute;
  }

  .slide {
    width: 100%;
    height: 90%;
    display: inline-block;

    .slide-text {
      height: 10%;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .slide-image {
      height: 90%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      img {
        max-width: 100%;
        max-height: 100%;
        display: block;
        border: 1px solid #CCC;
        box-sizing: border-box;
        margin: auto;
      }
    }
  }

  .carousel-dots {
    height: 10%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .carousel-dot {
      margin: 0 4px;
      cursor: pointer;

      circle {
        stroke-width: 2px;
        stroke: #999;
        fill: transparent;
        transition-property: stroke, fill;
        transition-duration: 400ms;

        &.active {
          stroke: #446;
          fill: #446;
        }
      }
    }
  }
}
