@import "../variables.scss";

.download-extension-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px 0;
  text-align: center;

  @media screen and (min-width: $break-medium) {
    margin: 20px 0;
  }

  a.download-extension {
    border: 1px solid #6CB86F;
    background: #81c784;
    padding: 8px 20px;
    border-radius: 2px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFF;
    transition: opacity 200ms;

    &:hover {
      opacity: 0.85;
    }

    @media screen and (min-width: $break-medium) {
      font-size: 22px;
    }
  }
}
