@import "../variables.scss";

.download-extensions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 25px 0;
  line-height: 24px;

  @media screen and (min-width: $break-large) {
    &.disposition-column {
      flex-direction: column;
    }

    &.disposition-row {
      flex-direction: row;
    }
  }

  @media screen and (min-width: $break-large) {
    margin: 60px 0;
  }

  a.download-extension {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 320px;
    box-sizing: border-box;
    margin: 8px 0;
    padding: 8px 20px;
    border-radius: 2px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFF;
    transition: opacity 200ms;

    &:hover {
      opacity: 0.85;
    }

    &.browser-firefox {
      background-color: #fc8c03cc;
      border: 1px solid #c97602cc;
    }

    &.browser-chrome {
      background-color: #039dfccc;
      border: 1px solid #027dc9cc;
    }

    @media screen and (min-width: $break-medium) {
      font-size: 22px;
    }

    img {
      margin-right: 12px;
    }
  }
}
