@import "../variables.scss";

.email-validated {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #B7E1B4;
  border-bottom: solid 1px #4BB543;
  padding: 10px 60px;
  opacity: 0;
  transition: opacity 300ms;
  z-index: 1;

  @media screen and (min-width: $break-desktop) {
    top: 30px;
    right: 60px;
    left: auto;
    border: solid 1px #4BB543;
  }

  &.show {
    opacity: 1;
  }

  .close {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
}

