a.image-container {
  text-decoration: none;
  box-sizing: border-box;
  display: block;

  figure {
    text-align: center;
    color: #999;
    cursor: pointer;

    img {
      border: 1px solid #CCC;
      width: 100%;
    }

    figcaption {
      font-size: 12px;
      line-height: 5px;
    }
  }
}
