figure.image-container {
  text-decoration: none;
  display: block;
  padding-bottom: 10px;

  a {
    display: block;

    img {
      border: 1px solid #CCC;
      box-sizing: border-box;
      width: 100%;
    }
  }

  figcaption {
    color: #999;
    font-size: 12px;
    line-height: 5px;
    text-align: center;
  }
}
