@import "../variables.scss";

.page#page-home nav.navigation .navigation-link {
  @media screen and (max-width: $break-small) { transform: translate3d(0, 0 * -30px, 0) }
  @media screen and (min-width: $break-small) { transform: translate3d(0, 0 * -40px, 0) }
}

.page#page-usage nav.navigation .navigation-link {
  @media screen and (max-width: $break-small) { transform: translate3d(0, 1 * -30px, 0) }
  @media screen and (min-width: $break-small) { transform: translate3d(0, 1 * -40px, 0) }
}

.page#page-rules nav.navigation .navigation-link {
  @media screen and (max-width: $break-small) { transform: translate3d(0, 2 * -30px, 0) }
  @media screen and (min-width: $break-small) { transform: translate3d(0, 2 * -40px, 0) }
}

.page#page-motivations nav.navigation .navigation-link {
  @media screen and (max-width: $break-small) { transform: translate3d(0, 3 * -30px, 0) }
  @media screen and (min-width: $break-small) { transform: translate3d(0, 3 * -40px, 0) }
}

.page#page-faq nav.navigation .navigation-link {
  @media screen and (max-width: $break-small) { transform: translate3d(0, 4 * -30px, 0) }
  @media screen and (min-width: $break-small) { transform: translate3d(0, 4 * -40px, 0) }
}

nav.navigation {
  display: flex;
  flex-direction: row;
  height: 30px;
  overflow: hidden;
  text-transform: uppercase;
  transition: height 220ms ease-in-out;

  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;

  @media screen and (min-width: $break-small) {
    height: 40px;
  }

  @media screen and (min-width: $break-desktop) {
    display: block;
    border-top: none;
    border-bottom: none;
    height: auto;
    text-align: right;
    padding: 10px;
    border-right: 1px solid #CCC;
    position: relative;
    overflow: initial;
  }

  @media screen and (max-width: $break-desktop) {
    background: white;
    position: sticky;
    top: 0;
    z-index: 1;

    &.open {
      height: calc(5 * 30px);

      @media screen and (min-width: $break-small) {
        height: calc(5 * 40px);
      }

      .navigation-link {
        transform: translate3d(0, 0, 0) !important;
      }
    }
  }

  .navigation-burger {
    font-size: 30px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;
    cursor: pointer;

    @media screen and (min-width: $break-small) {
      line-height: 40px;
    }

    @media screen and (min-width: $break-desktop) {
      display: none;
    }
  }

  .navigation-links {
    flex: 1;

    @media screen and (min-width: $break-small) {
      line-height: 40px;
    }

    @media screen and (min-width: $break-desktop) {
      line-height: initial;
      position: sticky;
      top: 30px;
      margin-top: 30px;
      height: auto;
    }

    a.navigation-link {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 30px;
      font-size: 20px;
      text-decoration: none;
      transition: transform 220ms ease-in-out;

      @media screen and (min-width: $break-small) {
        font-size: 22px;
      }

      @media screen and (min-width: $break-desktop) {
        color: #666;
        margin-bottom: 10px;
        transition: transform 0s;
        transform: translate3d(0, 0, 0) !important;
      }

      &.active {
        font-weight: bold;
        color: #446;
      }
    }
  }
}
