@import "../variables.scss";

.page-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0;

  img.logo {
    width: 48px;
    height: 48px;
    margin-right: 10px;
    opacity: 0.8;

    @media screen and (min-width: $break-small) {
      width: 64px;
      height: 64px;
    }

    @media screen and (min-width: $break-medium) {
      width: 72px;
      height: 72px;
      margin-right: 15px;
    }

    @media screen and (min-width: $break-large) {
      width: 92px;
      height: 92px;
    }
  }

  .header-title {

    .title {
      font-size: 22px;
      font-family: 'Domine';
      color: #222;

      @media screen and (min-width: $break-small) {
        font-size: 28px;
        line-height: 28px;
      }

      @media screen and (min-width: $break-medium) {
        font-size: 36px;
        line-height: 36px;
      }

      @media screen and (min-width: $break-large) {
        font-size: 48px;
        line-height: 48px;
      }
    }

    .subtitle {
      font-size: 14px;
      font-family: 'Nunito Sans';
      letter-spacing: 4px;
      color: #666;

      @media screen and (min-width: $break-small) {
        font-size: 20px;
        line-height: 20px;
      }

      @media screen and (min-width: $break-medium) {
        font-size: 22px;
        line-height: 22px;
        letter-spacing: 6px;
      }

      @media screen and (min-width: $break-large) {
        font-size: 28px;
        line-height: 28px;
      }
    }
  }
}
