.reaction-container {
  margin-bottom: 10px;
}

.reaction-container:last-child {
  margin-bottom: 0;
}

.reaction-container .reaction-replies {
  display: flex;
}

.reaction-reply-form-wrapper {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
}

.reaction-reply-form {
  flex: 1;
}

.reaction-replies-indent, .reaction-reply-form-indent {
  width: 8px;
  background-color: #CCC;
  margin-right: 8px;
}

.reaction-replies-indent:hover, .reaction-reply-form-indent:hover {
  background-color: #999;
}

.reaction-replies-content {
  flex: 1;
}
