.reaction-container {
  margin-bottom: 10px;
}

.reaction-container:last-child {
  margin-bottom: 0;
}

.reaction-container .reaction-replies {
  margin-top: 10px;
  display: flex;
}

.reaction-reply-form {
  margin-top: 10px;
}

.reaction-replies-indent {
  width: 8px;
  background-color: #CCC;
  margin-right: 8px;
}

.reaction-replies-indent:hover {
  background-color: #999;
}

.reaction-replies-content {
  flex: 1;
}
