.reactions-sort-by {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0;
}

.sort-by {
  padding: 5px 15px;
  cursor: pointer;
}

.sort-by.sort-by-active {
  cursor: initial;
  font-weight: bold;
}